* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  overflow: hidden; 
}

:root {
  --white: #f8f8f8;
  --jungle-green: #00B295;
  --fluorescent-blue: #03F7EB;
  --green500: #0BD023;
  --coffee-black: #3E363F
}

@media(min-width: 1084px) {
  body {
    background-image: url(assets/background.jpg);
    background-size: 100% 100%, contain, 3em;
    height: 100vh;
  }
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }

  body {
    background-image: none;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media(max-width: 430px){
  html {
    font-size: 50%;
  }
}

body {
  background-color: var(--coffee-black);  
}

p, strong, input {
  font-family: 'Dongle', 'Roboto', sans-serif;
  font-size: 1.5rem;
}

header {
  margin: 66px 0;
}

header h1 {
  font-family: 'Titan One', cursive;
  letter-spacing: 6px;
  font-size: 3.11rem;
  text-align: center;
  color: var(--white);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 47.111111111rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 0;
}

.wrapper input {
  max-width: 10rem;
  width: 100%;
  border-radius: 5px;
  background-color: var(--jungle-green);
  border: 1px solid var(--fluorescent-blue);
  color: var(--white);

  padding: 8px;
}

.wrapper input::placeholder{
  color: var(--white)
}

.square {
  max-width: 27.777777778rem;
  height: 27.777777778rem;
  width: 100%;  
  background-color: var(--jungle-green);
  border: 0.5px solid var(--fluorescent-blue);
  border-radius: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.square strong {
  font-size: 2rem;
  color: var(--white);
}

